@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}
#logo{
    font-weight: bolder;
    padding: 0 1rem;
}
header{
    background-color: white;
    position:fixed;
    padding: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}



header a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
}

#menu{
    letter-spacing: 4px;
    font-size: 110%;
    list-style: none;
}

nav{
    position: absolute;
    background-color: white;
    left: 0;
    padding-top: 10px;
    width: 100%;
    box-shadow: 1px solid #3a3a3a;
    top: 100%;
    display: none;
}



#toggel-nav{
    display: none;
}

#toggel-nav:checked~nav{
    display: block;
}

.nav-toggel-label{
    font-size: 2em;
}

ul li{
    margin-bottom: 1rem;
    list-style: none;
}

   

main{
    flex: 1 0 auto;
    margin-top: 69px;
}

#hero {
    height: 600px;
    background: url('../images/hero-image.webp') no-repeat center center/cover;
    width: 100%;
    position: relative;;
}

#cover-text{
    background-color: rgba(241, 109, 107, .7);
    position: absolute;
    bottom: 30px;
    width: 80%;
    padding-left: 40px;
    color: white;
}

.active{
    border-bottom :1px solid #3a3a3a ;
}

footer{
  padding: 20px 0px ;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

footer i{
    color: #3a3a3a;
    font-size: 22px;
}


@media screen and (min-width:768px){
    header{
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
        box-shadow: none;
    }
    header a{
        flex:2;
    }
    main{
        margin-top: 78px;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        
    }

    nav{
        display: block;
        position: relative;
        flex: 2;
    }
    .nav-toggel-label{
        display: none;
    }
    
    /* adjust cover text in Hero */
    #cover-text{
        width: 30%;
        right: 30px;
    }
}