@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}
#logo{
    font-weight: bolder;
    padding: 0 1rem;
}
header{
    background-color: white;
    position:fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px;    
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
}

#menu{
    letter-spacing: 4px;
    font-size: 110%;
    list-style: none;
}

ul li{
    margin-bottom: 1rem;
}

main{
    background-color: bisque;
    flex: 1 0 auto;
}

.active{
    border-bottom :1px solid #3a3a3a ;
}

footer{
    background-color: red;

}
